label.error-msg {
    color: red;
    font-size: 12px;
    font-weight: 500;
}
.copy-container {
    padding: 20px;
}

.img-preview-container {
    margin-top: 25px;
}
.img-preview-container img {
    width: 300px;
    height: 270px;
}